@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 1px #5b8c51;
  color: transparent;
  transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.hover-fill {
  transition: background-position 0.5s ease;
}

.hover-fill:hover {
  background-position: 0 0;
  -webkit-text-stroke: 0;
  color: #5b8c51;
  cursor: pointer;
}

.filled-text {
  color: #5b8c51;
}
